@import "../node_modules/@jeepney-design-system/tokens/dist/scss/_variables.scss";

.h1 {
  font-family: var(--font-family-base);
  font-size: var(--size-font-xl);
}

.h2 {
  font-family: var(--font-family-base);
  font-size: var(--size-font-large);
}

.h3 {
  font-family: var(--font-family-base);
  font-size: var(--size-font-medium);
}

.h4 {
  font-family: var(--font-family-base);
  font-size: var(--size-font-small);
}

.h5 {
  font-family: var(--font-family-base);
  font-size: var(--size-font-tiny);
}
