@import "../../../node_modules/@adobocorp/design-tokens/build/css/_variables.css";

.navigationProgressContainer {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  gap: 12px;
}

.progressMeter {
  height: 4px;
  width: 100px;
  border-radius: 2px;
  border: 1px solid var(--color-base-grey-200);
  background: var(--color-base-grey-200);
}

.progressMeterFill {
  height: 4px;
  border-radius: 2px;
  background: var(--color-base-grey-600);
  position: absolute;
}

.navigationControls {
  width: 96px;
  display: grid;
  grid-template-columns: repeat(2, 48px);
  grid-template-rows: auto;
  margin-bottom: 18px;
  background: var(--color-base-white);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--color-base-grey-400);
  box-sizing: border-box;
  border-radius: 12px;
  align-items: center;
  height: 32px;
}

.navigationButton {
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.leftNavigationButton {
  border-right: 1px solid var(--color-base-grey-400);
}
