@import "../../../node_modules/@adobocorp/design-tokens/build/css/_variables.css";

.contentContainer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding: 32px;
  border-radius: 2px;
}

.cardContainer {
  background: rgba(255, 255, 255, 0.95);
}

.cardContent {
  color: var(--color-base-black);
}

.cardContentPrimary {
  font-size: var(--size-font-large);
  margin-bottom: 12px;
}

.cardContentSecondary {
  font-size: var(--size-font-small);
  flex-grow: 1;
}

.shortCard {
  height: 128px;
}

.tallCard {
  height: 256px;
}
