.gridContainer {
  display: flex;
  height: 600px;
  align-items: center;
  flex-direction: column;
}

.gridHeadingsContainer {
  text-align: center;
}

.gridItemsContainer {
  display: grid;
  justify-content: center;
}

.gridContainerThreeItems {
  grid-template-columns: repeat(3, 330px);
}

.gridContainerFourItems {
  grid-template-columns: repeat(4, 250px);
}
